#!/bin/bash

set -euo pipefail

# Forces reload of keybindings on file change
# keybindings-cinnamon.dconf hash: {{ include "keybindings-cinnamon.dconf" | sha256sum }}

if [[ -z "${CHEZMOI_WORKING_TREE}" ]]; then
  echo "CHEZMOI_WORKING_TREE is empty. Exiting"
  exit 1
fi

KEYBINDINGS_FILE="${CHEZMOI_WORKING_TREE}/keybindings-cinnamon.dconf"

if ! [ -f "${KEYBINDINGS_FILE}" ]; then
  echo "Keybindings file missing. Exiting"
  exit 1
fi

dconf load /org/cinnamon/desktop/keybindings/ <"${KEYBINDINGS_FILE}"

# enable lock-on-suspend on cinnamon
gsettings set org.cinnamon.settings-daemon.plugins.power lock-on-suspend true
