{{- $name := "Maksymilian Wrzesień" -}}
{{- $email := promptStringOnce . "email" "Email address" -}}
{{- $typeChoices := list "private" "work" -}}
{{- $type := promptChoiceOnce . "type" "PC type" $typeChoices -}}

{{- /* only used in private type */ -}}
{{- $ghKeyPath := clean (printf "%s/%s" .chezmoi.homeDir ".ssh/private_github_ed25519.pub") }}
{{- $ghNoreplyEmail := "63720564+m-wrzesien@users.noreply.github.com" -}}
{{- $ghUser := "m-wrzesien" -}}
{{- $kxcAge := "IT/Keys/Age" -}}
{{- $kxcFile := clean (printf "%s/%s" .chezmoi.homeDir "Documents/KeePass/Passwords.kdbx") -}}
{{- $kxcSSH := "IT/Keys/id_ed25519" -}}
{{- $kxcSSHAttachment := "id_ed25519.pub" -}}
{{- $kxcSyncthingURL := "IT/Infra/Syncthing Discovery URL" -}}

{{- /* keepassxc needs to be defined first, as otherwise ssh_key won't be correctly templated */ -}}
{{- if eq $type "private" }}
[keepassxc]
    database = {{ $kxcFile | quote }}
{{ end -}}

[data]
    email = {{ $email | quote }}
    name = {{ $name | quote }}
    type = {{ $type | quote }}
{{- if eq $type "private" }}
    github_key_path = {{ $ghKeyPath | quote }}
    github_noreply_email = {{ $ghNoreplyEmail | quote }}
    github_public_key = "{{ (first (gitHubKeys $ghUser)).Key }}"
    github_user = {{ $ghUser | quote }}
    keepassxc_age_entry =  {{ $kxcAge | quote }}
    keepassxc_file = {{ $kxcFile | quote }}
{{- /* workaround for first init on which keepassxc.database is empty */ -}}
{{- if ne .chezmoi.config.keepassxc.database "" }}
    syncthing_url = {{ keepassxcAttribute $kxcSyncthingURL "URL" | quote }}
    ssh_key = """
        {{- keepassxcAttachment $kxcSSH $kxcSSHAttachment -}}
    """
{{ end -}}
{{ end -}}
