{{- template "bash_aliases.sh" . -}}
{{- if eq .type "private" -}}
{{- template "bash_aliases_private.sh" . -}}
{{- end -}}
{{- if eq .type "work" -}}
{{- template "bash_aliases_work.sh" . -}}
{{- end -}}
