{{ if eq .chezmoi.osRelease.name "Arch Linux" -}}
export SSH_AUTH_SOCK="$XDG_RUNTIME_DIR/ssh-agent.socket"
{{ end -}}

export XDG_CACHE_HOME="{{ .chezmoi.homeDir }}/.cache"
export XDG_CONFIG_HOME="{{ .chezmoi.homeDir }}/.config"
export XDG_DATA_HOME="{{ .chezmoi.homeDir }}/.local/share"
export XDG_STATE_HOME="{{ .chezmoi.homeDir }}/.local/state"

export BROWSER=/usr/bin/firefox
export EDITOR=/usr/bin/vim
export KEEPASSXC_AGE_ENTRY="{{ .keepassxc_age_entry }}"
export KEEPASSXC_FILE="{{ .keepassxc_file }}"
export SUDO_EDITOR="$EDITOR"

# clear files from $HOME
export DOCKER_CONFIG="$XDG_CONFIG_HOME"/docker
export GOPATH="${XDG_DATA_HOME}/go"
export GTK2_RC_FILES="$XDG_CONFIG_HOME"/gtk-2.0/gtkrc
export KUBECONFIG="$XDG_CONFIG_HOME/kube"
export KUBECACHEDIR="$XDG_CACHE_HOME/kube"
export MINIKUBE_HOME="$XDG_DATA_HOME"/minikube
export VAGRANT_HOME="$XDG_DATA_HOME"/vagrant
export VAGRANT_ALIAS_FILE="$XDG_DATA_HOME"/vagrant/aliases
export VIMINIT="source $XDG_CONFIG_HOME/vim/vimrc"
export WGETRC="$XDG_CONFIG_HOME/wgetrc"
export _JAVA_OPTIONS=-Djavafx.cachedir="$XDG_CACHE_HOME"/openjfx

# remove ~/.nv - required for nvidia shader cache
if command nvidia-modprobe &> /dev/null; then
    cache_path="$XDG_CACHE_HOME/nv"
    if [ ! -d "$cache_path" ] ; then
            mkdir "$cache_path"
    fi
    export __GL_SHADER_DISK_CACHE_PATH="$cache_path"
    export CUDA_CACHE_PATH="$cache_path"
    unset cache_path
fi

{{- if eq .type "private" }}
export _JAVA_OPTIONS="$_JAVA_OPTIONS -DMAPTOOL_DATADIR=$XDG_DATA_HOME/maptool-rptools"
{{- end }}

# remove ~/.ansible - works only from version 2.13 and onward
export ANSIBLE_HOME="${XDG_CONFIG_HOME}/ansible"
export ANSIBLE_GALAXY_CACHE_DIR="${XDG_CACHE_HOME}/ansible/galaxy_cache"
export ANSIBLE_LOCAL_TEMP="${XDG_CACHE_HOME}/ansible/tmp"
export ANSIBLE_REMOTE_TEMP="${XDG_CACHE_HOME}/ansible/tmp"


export PATH="${PATH}:${GOPATH}/bin:${HOME}/.local/bin"
