{
    "diffEditor.ignoreTrimWhitespace": false,
    "go.useLanguageServer": true,
    "go.formatTool": "goimports",
    "editor.fontFamily": "'Hack Nerd Font', 'monospace', monospace",
    "workbench.enableExperiments": false,
    "workbench.settings.enableNaturalLanguageSearch": false,
    "javascript.format.enable": false,
    "javascript.validate.enable": false,
    "gitlens.telemetry.enabled": false,
    "workbench.colorTheme": "Default Dark+",
    "redhat.telemetry.enabled": false,
    "vs-kubernetes": {
        "vs-kubernetes.crd-code-completion": "disabled",
    },
{{- if ne .type "work" }}
    "editor.formatOnSave": true,
{{- end }}
    // Needed for Go template syntax highlighting
    // https://github.com/golang/vscode-go/blob/master/docs/features.md#go-template-syntax-highlighting
    "gopls": {
        "ui.semanticTokens": true
    },
    "go.toolsManagement.autoUpdate": true
}