{
    "diffEditor.ignoreTrimWhitespace": false,
    "editor.fontFamily": "'Hack Nerd Font', 'monospace', monospace",
    // Keep sidebar with explorer closed on startup if it was closed
    "explorer.autoReveal": false,
    "gitlens.telemetry.enabled": false,
    "go.toolsManagement.autoUpdate": true,
    // Needed for Go template syntax highlighting
    // https://github.com/golang/vscode-go/blob/master/docs/features.md#go-template-syntax-highlighting
    "gopls": {
        "ui.semanticTokens": true
    },
    "javascript.format.enable": false,
    "javascript.validate.enable": false,
    "redhat.telemetry.enabled": false,
    "shellcheck.disableVersionCheck": true,
    "vs-kubernetes": {
        "checkForMinikubeUpgrade": false,
        "vs-kubernetes.crd-code-completion": "disabled",
    },
    "update.mode": "none",
    "workbench.colorTheme": "Default Dark+",
    "workbench.enableExperiments": false,
    "workbench.settings.enableNaturalLanguageSearch": false,
    // Enable color highlights in todo-tree
    "todo-tree.highlights.useColourScheme": true,
{{- if ne .type "work" }}
    "editor.formatOnSave": true
{{- end }}
}
