{
    "diffEditor.ignoreTrimWhitespace": false,
    "editor.fontFamily": "'Hack Nerd Font', 'monospace', monospace",
    "gitlens.telemetry.enabled": false,
    "go.toolsManagement.autoUpdate": true,
    // Needed for Go template syntax highlighting
    // https://github.com/golang/vscode-go/blob/master/docs/features.md#go-template-syntax-highlighting
    "gopls": {
        "ui.semanticTokens": true
    },
    "javascript.format.enable": false,
    "javascript.validate.enable": false,
    "redhat.telemetry.enabled": false,
    "shellcheck.disableVersionCheck": true,
    "vs-kubernetes": {
        "checkForMinikubeUpgrade": false,
        "vs-kubernetes.crd-code-completion": "disabled",
    },
    "workbench.colorTheme": "Default Dark+",
    "workbench.enableExperiments": false,
    "workbench.settings.enableNaturalLanguageSearch": false,
{{- if ne .type "work" }}
    "editor.formatOnSave": true
{{- else }}
    "cloudcode.duetAI.enable": true,
    "cloudcode.duetAI.project": {{ .duet_ai_project | quote }},
    "cloudcode.enableGkeAutopilotSupport": false,
    "cloudcode.enableTelemetry": false,
    "[yaml]": {
        "editor.defaultFormatter": "redhat.vscode-yaml"
    }
{{- end }}
}