[user]
	email = {{ .email | quote }}
	name = Maksymilian Wrzesień
[pull]
	# https://blog.sffc.xyz/post/185195398930/why-you-should-use-git-pull-ff-only
	ff = only
[advice]
	detachedHead = false
[init]
	defaultBranch = master
{{ if eq .type "work" -}}
[includeIf "gitdir:{{ .chezmoi.sourceDir }}/**"]
	path = config_gh_private
{{ end -}}
{{ if ne .github_noreply_email "" -}}
#github ssh
[includeIf "hasconfig:remote.*.url:git@github.com*/**"]
	path = config_gh
#github https
[includeIf "hasconfig:remote.*.url:https://github.com/**"]
	path = config_gh
{{ end -}}