[user]
	email = {{ .email | quote }}
	name = Maksymilian Wrzesień
[pull]
	# https://blog.sffc.xyz/post/185195398930/why-you-should-use-git-pull-ff-only
	ff = only
[advice]
	detachedHead = false
[init]
	defaultBranch = master
{{ if eq .type "private" -}}
#github ssh
[includeIf "hasconfig:remote.*.url:git@github.com*/**"]
	path = config_gh_private
#github https
[includeIf "hasconfig:remote.*.url:https://github.com/**"]
	path = config_gh_private
{{ end -}}