[user]
	email = {{ .email | quote }}
	name = {{ .name | quote }}
[pull]
	# https://blog.sffc.xyz/post/185195398930/why-you-should-use-git-pull-ff-only
	ff = only
[advice]
	detachedHead = false
[init]
	defaultBranch = master
[alias]
	delete-old-merged-branches = fetch --prune
    kitty-diff = difftool --no-symlinks --dir-diff
[diff]
    tool = kitty
    guitool = kitty.gui
[difftool]
    prompt = false
    trustExitCode = true
[difftool "kitty"]
    cmd = kitty +kitten diff $LOCAL $REMOTE
[difftool "kitty.gui"]
    cmd = kitty +kitten diff $LOCAL $REMOTE
{{ if eq .type "private" -}}
#github ssh
[includeIf "hasconfig:remote.*.url:git@github.com*/**"]
	path = config_gh_private
#github https
[includeIf "hasconfig:remote.*.url:https://github.com/**"]
	path = config_gh_private
{{ end -}}
