theme = "catppuccin_frappe"
[editor]
{{ if eq .type "work" -}}
auto-format = false
{{ end -}}
bufferline = "multiple"
completion-trigger-len = 1
end-of-line-diagnostics = "hint"

[editor.file-picker]
hidden = false

[editor.inline-diagnostics]
# Minimum severity to show a diagnostic on the primary cursor's line.
# Note that `cursor-line` diagnostics are hidden in insert mode.
cursor-line = "warning"

[editor.indent-guides]
render = true

[editor.soft-wrap]
enable = true

[editor.statusline]
right = ["diagnostics", "selections", "register", "position","position-percentage", "file-encoding"]

# create a new minor mode bound to `+`
[keys.normal."+"]
e = [":w", ":run-shell-command sops-wrapper encrypt '%{buffer_name}'"]
d = ":run-shell-command sops-wrapper decrypt '%{buffer_name}'"
l = ":run-shell-command sops-wrapper list"
s = ":run-shell-command sops-wrapper shred"
