[[language]]
name = "bash"
auto-format = true

[[language]]
name = "helm"
# use same indention as in yaml - by default tabs would be used
indent = { tab-width = 2, unit = "  " }

[[language]]
name = "jsonnet"
auto-format = true

[[language]]
auto-format = true
language-servers = ["marksman", "mpls"]
name = "markdown"

[language-server.efm]
command = "efm-langserver"

[[language]]
name = "dockerfile"
language-servers = [
  { name = "efm", only-features = [ "diagnostics" ] },
  "docker-langserver"
]

[language-server.mpls]
command = "mpls"
args = ["--theme=catppuccin-frappe", "--enable-emoji", "--no-auto"]

[language-server.yaml-language-server.config.yaml]
# we use yamlfmt ot nothing at all
format = { enable = false }

[[language]]
name = "yaml"
auto-format = true
formatter = { command = "yamlfmt", args = ["-"] }

# custom language, so we have colors and autocomplete in values files 
[[language]]
name = "helm-values"
grammar = "gotmpl"
scope = "source.helm-values"
roots = ["Chart.yaml"]
comment-token = "#"
language-servers = ["helm_ls"]
file-types = [ { glob = "values*.yaml"}, { glob = "values*.yml"},{ glob = ".decrypted~values*.yaml"}, { glob = ".decrypted~values*.yml"}   ]
